<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devpaul.business.kidmath">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidMath">
        <activity
            android:name=".dashboard.profile.PerfilActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".dashboard.news.NewsGameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".dashboard.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentthree.CuerposGeometricoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentthree.InterpretacionGraficosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmenttwo.GraficoBarrasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmenttwo.MultiplosNumerosActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmenttwo.ProblemasIgualacionActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmenttwo.ProblemasComparacionActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmenttwo.CalculoMentalActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentone.CompararCantidadesActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentone.CentenasActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentone.DecimalDetailActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentone.ProblemsQuantityActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentthree.DivDetailActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmentthree.FracDetailActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.segmenttwo.MultDetailActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.details.GameDetailActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.theory.TheoryActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.div.DivGameActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.mult.MultGameActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.sum.GameOverSumaActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.rest.GameOverRestaActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.div.GameOverDivisionActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.mult.GameOverMultiplicacionActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.sum.SumGameActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.rest.RestGameActivity"
            android:exported="false" />
        <activity
            android:name="devpaul.business.kidmath.dashboard.operations.level.LevelActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>